/* Pagination */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 4rem;
}

/* Post Custom */

.expTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.eduTitle {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.expPicture {
    text-align: center;
}

.eduPicture {
    text-align: center;
}

.expCertificate {
    width: 70%;
}

.eduCertificate {
    width: 70%;
}

/* Details part */
@media screen and (max-width: 415px) {
    .split {
        display: flex;
        flex-direction: column;
    }

    .area-1 {
        width: 100% !important;
        height: 430px;
    }
    
    .area-2 {
        width: 100% !important;
    }
}

/* Projects cpt */
.projectTitle {
    text-align: center;
    margin-top: 2rem;
}

.projectCenter {
    width: 100%;
    text-align: center;
}